<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4 col-md-6 mb-3" *ngFor="let game of gamesentrada">
      <div class="card col-sm-12">
        <div class="card-header titulo">
          <i class="bi bi-award-fill"></i> {{ game.title }}
        </div>
        <img src="{{ game.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            <i class="bi bi-calendar"></i>
            {{ game.create_game | date: "yyyy-MM-dd" }}
          </p>
          <p class="card-text">
            {{ game.descripcion }}
          </p>

          <button
            type="button"
            class="btn btn-primary me-3"
            [routerLink]="['/edit', game.id]"
          >
            <i><i class="bi bi-pencil-square"></i> Editar</i>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i> <i class="bi bi-trash"></i> Eliminar</i>
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Eliminar juego
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Seguro que quiere eliminar el juego?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    (click)="eliminarJuego(game.id)"
                  >
                    <i class="bi bi-radioactive"></i> Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
